{
  'extends': 'airbnb-base',
  'env': {
    'es6': true,
    'jquery': true,
  },
  'globals': {
    'DocumentTouch': true,
  },
  'rules': {
  	'no-param-reassign': [2, { props: false }],
  	'no-underscore-dangle': [2, {
  	  'allowAfterThis': true,
  	}],
  }
}
