@import 'lib/webkit-show-scrollbar';

@mixin select($args: ()) {
  $settings: map-merge((
    'background': white,
    'background-active': rgb(240, 240, 240),
    'border': 1px solid rgb(200, 200, 200),
    'max-height': 300px,
    'max-height-screen-ratio': 0.7,
    'padding': 10px 20px,
  ), $args);

  cursor: pointer;
  position: relative;

  label {
    border: map-get($settings, 'border');
    cursor: pointer;
    display: block;
    padding: map-get($settings, 'padding');
  }

  ul {
    @include _webkit-show-scrollbar((
      'border': map-get($settings, 'border'),
    ));
    background: map-get($settings, 'background');
    border-bottom: map-get($settings, 'border');
    display: none;
    list-style: none;
    margin: 0;
    max-height: (100vh * map-get($settings, 'max-height-screen-ratio'));
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    position: absolute;
    width: 100%;

    @media(min-height: (map-get($settings, 'max-height') / map-get($settings, 'max-height-screen-ratio'))) {
      max-height: map-get($settings, 'max-height');
    }
  }

  li {
    border: map-get($settings, 'border');
    border-top: 0;
    padding: map-get($settings, 'padding');

    &:last-of-type {
      border-bottom: 0;
    }

    &.active,
    &:hover {
      background: map-get($settings, 'background-active');
    }
  }
}
